/* Reset CSS */
* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

/* Body Styles */
body {
	font-family: 'Montserrat', sans-serif;
	background-color: #f7f7f7;
}

/* Header Styles */
header {
	text-align: center;
	padding: 20px 0;
	background-color: #333;
	color: #fff;
}

#title {
	font-size: 36px;
	font-weight: 700;
	text-transform: uppercase;
	letter-spacing: 2px;
	margin: 0;
	font-family: 'Open Sans', sans-serif;
}

/* Navigation Styles */
nav {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	background-color: #fff;
	padding: 20px;
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}

nav a {
	display: block;
	padding: 10px 20px;
	margin: 10px;
	border-radius: 5px;
	color: #333;
	background-color: #fff;
	text-decoration: none;
	font-size: 20px;
	transition: all 0.3s ease-in-out;
}

nav a:hover {
	background-color: #333;
	color: #fff;
}

#editor {
	background-color: #fff;
	color: #333;
}

/* Media Query */
@media screen and (max-width: 768px) {
	nav {
		flex-direction: column;
		align-items: center;
	}
}
@keyframes glow {
  0% {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #4cff4c, 0 0 50px #4cff4c, 0 0 60px #4cff4c, 0 0 70px #4cff4c;
  }
  100% {
    text-shadow: 0 0 20px #fff, 0 0 30px #4cff4c, 0 0 40px #4cff4c, 0 0 50px #4cff4c, 0 0 60px #4cff4c, 0 0 70px #4cff4c, 0 0 80px #4cff4c;
  }
}

#title {
  font-family: 'Montserrat', sans-serif;
  animation: glow 2s ease-in-out infinite;
}

