html{
    font-size: 100%;
}
h1{
    background-color: greenyellow;
    width:13em;
    font-size: 3em;
    font-weight: 100;
}
a{
    font-size: 2rem;
    text-decoration: none;
}
.web{
    color: darkgoldenrod;
}
#editor{
    color: red;
}